<div class="chart-container">
    <ngx-charts-bar-horizontal [scheme]="colorScheme" [results]="result" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)" style="fill: yellow;">
    </ngx-charts-bar-horizontal>

</div>

<!-- [view]="view"  -->
