<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="assets/github.png" alt="Logo Goty" width="30" height="24">
        </a>

        <a class="navbar-brand" href="#">GOTY</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/inicio">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/goty">Votar</a>
                </li>

            </ul>
        </div>
    </div>
</nav>