<h2>Game of the Year</h2>
<hr>
<div class="row">
    <div class="col">
        <!-- se parametrizada la data para que el grafico lo pinte y poder reutilizarl -->
        <app-grafico-barra-horizontal [result]="juegos"></app-grafico-barra-horizontal>
    </div>

</div>